In [2]:
import pandas as pd

In [3]:
dados_nvidia = pd.read_csv('./archive/NVIDIA-(1999-2023).csv')

In [4]:
dados_nvidia.head()

         Date      Open      High       Low     Close  Adj Close    Volume
0  1999-01-25  0.442708  0.458333  0.410156  0.453125   0.415786  51048000
1  1999-01-26  0.458333  0.467448  0.411458  0.417969   0.383527  34320000
2  1999-01-27  0.419271  0.429688  0.395833  0.416667   0.382332  24436800
3  1999-01-28  0.416667  0.419271  0.412760  0.415365   0.381137  22752000
4  1999-01-29  0.415365  0.416667  0.395833  0.395833   0.363215  24403200

In [5]:
precos = dados_nvidia['Close']
precos.head()

0    0.453125
1    0.417969
2    0.416667
3    0.415365
4    0.395833
Name: Close, dtype: float64

In [6]:
precos.isna().sum()  # não existem valores ausentes

0

In [7]:
num_linhas = len(precos.index)
num_linhas

6094

In [10]:
tamanho_janela = 3
matriz = [[0 for x in range(tamanho_janela + 1)] for y in range(num_linhas)]

In [11]:
matriz[:10][:]  # visualização da matriz alocada

[[0, 0, 0, 0],
 [0, 0, 0, 0],
 [0, 0, 0, 0],
 [0, 0, 0, 0],
 [0, 0, 0, 0],
 [0, 0, 0, 0],
 [0, 0, 0, 0],
 [0, 0, 0, 0],
 [0, 0, 0, 0],
 [0, 0, 0, 0]]

In [12]:
for i in range(num_linhas - tamanho_janela):
    for j in range(tamanho_janela + 1):
        matriz[i][j] = precos[i + j]

In [13]:
for i in range(7 - tamanho_janela):
    for j in range(tamanho_janela + 1):
        print(matriz[i][j])
    print('\n')

0.453125
0.417969
0.416667
0.415365


0.417969
0.416667
0.415365
0.395833


0.416667
0.415365
0.395833
0.403646


0.415365
0.395833
0.403646
0.372396

In [19]:
tabela = pd.DataFrame(matriz)

In [20]:
tabela.head()

          0         1         2         3
0  0.453125  0.417969  0.416667  0.415365
1  0.417969  0.416667  0.415365  0.395833
2  0.416667  0.415365  0.395833  0.403646
3  0.415365  0.395833  0.403646  0.372396
4  0.395833  0.403646  0.372396  0.380208

In [29]:
tabela.columns = ['1', '2', '3', 'Saída']

In [31]:
tabela.head(10)

          1         2         3     Saída
0  0.453125  0.417969  0.416667  0.415365
1  0.417969  0.416667  0.415365  0.395833
2  0.416667  0.415365  0.395833  0.403646
3  0.415365  0.395833  0.403646  0.372396
4  0.395833  0.403646  0.372396  0.380208
5  0.403646  0.372396  0.380208  0.401042
6  0.372396  0.380208  0.401042  0.412760
7  0.380208  0.401042  0.412760  0.398438
8  0.401042  0.412760  0.398438  0.382813
9  0.412760  0.398438  0.382813  0.378906